<% include ./partials/header %>

<h1>RESULTS</h1>
        
<div class="movie-results">
        <% parseData["Search"].forEach(function(movie) { %> <!-- Anything within <% %> is considered as regular Javascript -->
            <div class="col-md-2">
                <div class="well text-center">
                    <img src="<%= movie["Poster"] %>">
                    <h5><%= movie["Title"] %></h5>
                    <h5><%= "Year: " + movie["Year"] %></h5>
                    <h5><%= "Type: " + movie["Type"] %></h5> <!-- = is used when we want to display -->
                </div>
            </div>
        <% }); %>
</div>

<a class="btn btn-primary" href="/">Search again!</a>

<% include ./partials/footer %>